<div class="flex flex-col justify-center gap-5">
  <h1 class="title">Pokemon</h1>

  <!-- SEARCH -->
  <div class="flex flex-grow justify-center">
    <div class="flex w-[50vw] justify-center gap-4">
      <input type="text" class="flex-grow" placeholder="Search Pokemon" />
      <button class="button-primary">Search</button>
    </div>
  </div>

  <app-grid [pokemons]="getPokemons()" />

  <!-- PAGINATION -->
  <div class="mb-8 flex items-center justify-evenly">
    <!-- PREV -->
    <button
      class="button-primary"
      (click)="onPrev()"
      [disabled]="isPrevDisabled()"
    >
      Prev
    </button>

    <!-- COUNTER -->
    <div>Page {{ getCounter() }} of {{ getMaxCounter() }}</div>

    <!-- NEXT -->
    <button
      class="button-primary"
      (click)="onNext()"
      [disabled]="isNextDisabled()"
    >
      Next
    </button>
  </div>
</div>
